{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Gestapp APIS",
    "description": "Documentation automatically generated by the <b>swagger-autogen</b> module."
  },
  "host": "www.macrocorpsystem.com",
  "basePath": "/cenan2025",
  "tags": [
    {
      "name": "APP MOVIL",
      "description": "Endpoints"
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "securityDefinitions": {
    "apiKeyAuth": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-KEY",
      "description": "any description..."
    }
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/signup": {
      "post": {
        "tags": [
          "AUTH"
        ],
        "description": "Endpoint to signup a specific user",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "example": "any"
                },
                "password": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/signin": {
      "post": {
        "tags": [
          "AUTH"
        ],
        "description": "Endpoint to signin a specific user",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "example": "any"
                },
                "password": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/findetapagesta/{id}": {
      "get": {
        "tags": [
          "ETAPA-GESTACIONAL"
        ],
        "description": "Endpoint para consultar datos todo el periodo gestacional del paciente",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/findregisevent/{id}": {
      "get": {
        "tags": [
          "REGISTRO-EVENTOS"
        ],
        "description": "Endpoint para consultar los registros referentes eventos de las gestantes",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/newuserfirstsign": {
      "post": {
        "tags": [
          "USUARIO"
        ],
        "description": "Endpoint para crear o actualizar los datos de un usuario de la app movil",
        "responses": {
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/newuserapp": {
      "post": {
        "tags": [
          "USUARIO"
        ],
        "description": "Endpoint para crear un usuario de la app movil",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/updateuserapp": {
      "post": {
        "tags": [
          "USUARIO"
        ],
        "description": "Endpoint para actualizar los datos de un usuario de la app movil",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/saveuserapp": {
      "post": {
        "tags": [
          "USUARIO"
        ],
        "description": "Endpoint para crear o actualizar los datos de un usuario de la app movil",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/getalldatauser": {
      "post": {
        "tags": [
          "USUARIO"
        ],
        "description": "Endpoint para recuperar toda la información completa de un usuario por username y su importacion den el app movil",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/syncalluser": {
      "post": {
        "tags": [
          "USUARIO"
        ],
        "description": "Endpoint para crear o actualizar los datos de los usuarios de la app movil",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/newetapagesta": {
      "post": {
        "tags": [
          "ETAPA-GESTACIONAL"
        ],
        "description": "Endpoint para crear el registro con los datos referente al periodo gestacional del paciente",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "example": "any"
                },
                "password": {
                  "example": "any"
                },
                "dni": {
                  "example": "any"
                },
                "nombape": {
                  "example": "any"
                },
                "lati": {
                  "example": "any"
                },
                "longi": {
                  "example": "any"
                },
                "altura": {
                  "example": "any"
                },
                "lati_viv": {
                  "example": "any"
                },
                "longi_viv": {
                  "example": "any"
                },
                "altura_viv": {
                  "example": "any"
                },
                "profileimage": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/updetapagesta": {
      "post": {
        "tags": [
          "ETAPA-GESTACIONAL"
        ],
        "description": "Endpoint para actualizar el registro referente al periodo gestacional del paciente",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/savetapagesta": {
      "post": {
        "tags": [
          "ETAPA-GESTACIONAL"
        ],
        "description": "Endpoint para crear o actualizar el registro referente al periodo gestacional del paciente",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/saveorudparragesta": {
      "post": {
        "tags": [
          "ETAPA-GESTACIONAL"
        ],
        "description": "Endpoint para crear o actualizar los registros referentes al periodo gestacional de los pacientes",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/neweventuser": {
      "post": {
        "tags": [
          "REGISTRO-EVENTOS"
        ],
        "description": "Endpoint para crear el registro referente evento de la gestante",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/updeventuser": {
      "post": {
        "tags": [
          "REGISTRO-EVENTOS"
        ],
        "description": "Endpoint para actualizar el registro referente evento de la gestante",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/saveventuser": {
      "post": {
        "tags": [
          "REGISTRO-EVENTOS"
        ],
        "description": "Endpoint para crear o actualizar el registro referente evento de la gestante",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/syncalleventuser": {
      "post": {
        "tags": [
          "REGISTRO-EVENTOS"
        ],
        "description": "Endpoint para crear o actualizar los registros referentes a eventos de las gestantes",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/newsuple": {
      "post": {
        "tags": [
          "REGISTRO-SUPLEMENTOS"
        ],
        "description": "Endpoint to crear el registro de una toma de suplemento de la Gestante",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/updsuple": {
      "post": {
        "tags": [
          "REGISTRO-SUPLEMENTOS"
        ],
        "description": "Endpoint to actualizar el registro de una toma de suplemento de la Gestante",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/savesuple": {
      "post": {
        "tags": [
          "REGISTRO-SUPLEMENTOS"
        ],
        "description": "Endpoint to crear o actualizar el registro de una toma de suplemento de la Gestante",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/syncallsuple": {
      "post": {
        "tags": [
          "REGISTRO-SUPLEMENTOS"
        ],
        "description": "Endpoint to crear o actualizar el registro de varias tomas de suplemento de la Gestante",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/syncallagendagesta": {
      "post": {
        "tags": [
          "AGENDA-GESTACIONAL"
        ],
        "description": "Endpoint para crear o actualizar los registros de la semana de gestacion del paciente",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/syncalldaysgesta": {
      "post": {
        "tags": [
          "DIAS-GESTACION"
        ],
        "description": "Endpoint para crear o actualizar todos los dias de gestacion de la Gestante",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/profile": {
      "get": {
        "tags": [
          "AUTH"
        ],
        "description": "Endpoint to see profile a specific user later signin",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  }
}